---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments
    body:
      encoding: UTF-8
      string: '{"merchantOrderReference":"b0fd74b7-16d2-4e6d-81db-f50a5ea605e6","referenceId":"b0fd74b7-16d2-4e6d-81db-f50a5ea605e6","paymentFlow":{"type":"redirect","returnUrl":"https://example.com/redirect"},"amount":{"value":12.34,"currency":"BRL"},"shopper":{"firstName":"John","lastName":"Doe","document":"12345678810","documentType":"CPF","email":"john.doe@example.com","phone":{"country":"55","number":"21987654321"}},"items":[{"id":"1","value":12.34,"quantity":1,"description":"A
        dozen eggs"}],"callbackUrl":"https://example.com/webhooks","delayToAutoCancel":30,"delayToSettlement":1}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - bdeb5d15-c942-4742-9c76-67dcdecc0aa1
      Etag:
      - W/"155-TEAdCbDARcR4GHXzMk7v+4WLIvs"
    body:
      encoding: ASCII-8BIT
      string: '{"paymentUrl":"https://sandbox-checkout.spinpay.com.br/checkouts/7f74ca5b-8546-4025-9701-f51947774e4c?token=74+W6AJJ0cBw7DF6z+Jc31u3r/K6BGQVKU1hWMWSgdRGF/tS0hQVqVa2wiJLIc13v1Lm+xlNFIEYU1W0AhcmCw==","status":"WAITING_PAYMENT_METHOD","pspReferenceId":"7f74ca5b-8546-4025-9701-f51947774e4c","referenceId":"b0fd74b7-16d2-4e6d-81db-f50a5ea605e6"}'
  recorded_at: Fri, 20 Jan 2023 03:33:47 GMT
recorded_with: VCR 6.1.0
