---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments
    body:
      encoding: UTF-8
      string: '{"merchantOrderReference":"08961c8b-18db-40ab-8337-434767df7b69","referenceId":"08961c8b-18db-40ab-8337-434767df7b69","amount":{"value":12.34,"currency":"BRL"},"shopper":{"firstName":"John","lastName":"Doe","document":"12345678810","documentType":"CPF","email":"john.doe@example.com","phone":{"country":"55","number":"21987654321"}},"items":[{"id":"1","value":12.34,"quantity":1,"description":"A
        dozen eggs"}],"callbackUrl":"https://example.com/webhooks","delayToAutoCancel":30,"delayToSettlement":1}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 814eead0-7dcc-4fbb-bab8-1d50771269f4
      Etag:
      - W/"90-HzQbZnOmuet26A0ChiDbdCqEiFw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"WAITING_PAYMENT_METHOD","pspReferenceId":"94baa2fa-92fd-4e6e-8ad0-48b9d3d916f5","referenceId":"08961c8b-18db-40ab-8337-434767df7b69"}'
  recorded_at: Sun, 27 Nov 2022 00:01:12 GMT
recorded_with: VCR 6.1.0
