---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments/a5dcda7b-5537-406f-a768-3e5defbd4a47/refunds
    body:
      encoding: UTF-8
      string: '{"transactionRefundId":"e5bb12c8-9c79-4585-9e14-84637789e4bf","amount":{"value":12.34,"currency":"BRL"},"delayToCompose":7}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - c3619aa8-13db-4415-81d3-a667b37e18d5
      Etag:
      - W/"a5-iVbEAXMxEalahG1TnuBfQxUOcOE"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"REFUNDING","dueDate":"2022-12-06T02:59:59.000Z","pspReferenceId":"a5dcda7b-5537-406f-a768-3e5defbd4a47","refundId":"e1d3b26d-99f1-4f8e-bb8e-e8e22b74c4a3"}'
  recorded_at: Sun, 27 Nov 2022 23:45:29 GMT
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments/a5dcda7b-5537-406f-a768-3e5defbd4a47/refunds
    body:
      encoding: UTF-8
      string: '{"transactionRefundId":"e5bb12c8-9c79-4585-9e14-84637789e4bf","amount":{"value":12.34,"currency":"BRL"},"delayToCompose":7}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: null
    headers:
      'Http/2 400 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - fc22a595-6c35-40e7-b2b2-a9099fe42dce
      Etag:
      - W/"f9-5NkOc0qCtJNQpY1FuYA2WbZ0gig"
    body:
      encoding: ASCII-8BIT
      string: '{"status":400,"message":"[400] Invalid This refund with transactionRefundId
        ''e5bb12c8-9c79-4585-9e14-84637789e4bf'' already was requested; (stackId:
        78a5a345-108a-4491-bc89-0b7d3935b4bc)","stackId":"78a5a345-108a-4491-bc89-0b7d3935b4bc","details":{}}'
  recorded_at: Sun, 27 Nov 2022 23:45:29 GMT
recorded_with: VCR 6.1.0
