---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments/94baa2fa-92fd-4e6e-8ad0-48b9d3d916f5/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - dcdbeaf0-a6af-4adc-971a-27a61a725646
      Etag:
      - W/"f7-Clux9o26zcIjWrSMzHQBAZ9a/4I"
    body:
      encoding: ASCII-8BIT
      string: '{"installmentNumber":1,"timestamp":"2022-11-27T00:01:11.951Z","amount":{"value":12.34,"currency":"BRL"},"pspReferenceId":"94baa2fa-92fd-4e6e-8ad0-48b9d3d916f5","referenceId":"08961c8b-18db-40ab-8337-434767df7b69","status":"WAITING_PAYMENT_METHOD"}'
  recorded_at: Sun, 27 Nov 2022 00:03:43 GMT
recorded_with: VCR 6.1.0
