---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments/16ffec42-b6e2-4724-818b-83d58bd73970/refunds
    body:
      encoding: UTF-8
      string: '{"transactionRefundId":"8cb87f6c-fd31-499a-8041-33248985871d","amount":{"value":13.34,"currency":"BRL"},"delayToCompose":7}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: null
    headers:
      'Http/2 400 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 98e2e476-383c-49e0-ad3a-53de096babf6
      Etag:
      - W/"a5-PXLXYCragOAe7LqsRSFZMeGekTM"
    body:
      encoding: ASCII-8BIT
      string: '{"status":400,"message":"[400] Invalid Refund amount; (stackId: b15e3269-cc71-4e1b-aee7-25ff9b030694)","stackId":"b15e3269-cc71-4e1b-aee7-25ff9b030694","details":{}}'
  recorded_at: Sun, 27 Nov 2022 23:45:30 GMT
recorded_with: VCR 6.1.0
