---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments/10eaac4f-5cb2-4552-b84d-a7d47491b9c8/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 1f0cdc6a-dfe8-4a6f-82fb-0f9367db12a7
      Etag:
      - W/"1c5-aGe1HM9YhpNq3w7CQxpjoiFhBMk"
    body:
      encoding: ASCII-8BIT
      string: '{"refunds":[{"transactionRefundId":"076f0c93-a53b-44f5-b696-5cb7bdd3a1a9","status":"REFUNDING","dueDate":"2022-12-06T02:59:59.000Z","refundId":"96f920cd-025e-4b54-a8fc-009d6816e1c3"}],"paymentMethodType":"spintest-link","installmentNumber":1,"timestamp":"2022-11-27T23:36:00.777Z","amount":{"value":12.34,"currency":"BRL"},"pspReferenceId":"10eaac4f-5cb2-4552-b84d-a7d47491b9c8","referenceId":"d5f82139-3fde-406b-9070-a814f9a6c997","status":"COMPLETED"}'
  recorded_at: Fri, 06 Jan 2023 01:59:47 GMT
recorded_with: VCR 6.1.0
