---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments
    body:
      encoding: UTF-8
      string: '{"merchantOrderReference":"310fa7f4-c63c-46d2-8206-e451a407688f","referenceId":"310fa7f4-c63c-46d2-8206-e451a407688f","amount":{"value":12.34,"currency":"BRL"},"shopper":{"firstName":"John","lastName":"Doe","document":"12345678810","documentType":"CPF","email":"john.doe@example.com","phone":{"country":"55","number":"21987654321"}},"items":[{"id":"1","value":12.34,"quantity":1,"description":"A
        dozen eggs"}],"callbackUrl":"https://example.com/webhooks","delayToAutoCancel":30,"delayToSettlement":1}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - d7289635-5c23-4f6c-8d0b-aee111c1196e
      Etag:
      - W/"90-IesQkOp2cr3kFiF/iJBXF1l+1mY"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"WAITING_PAYMENT_METHOD","pspReferenceId":"a5dcda7b-5537-406f-a768-3e5defbd4a47","referenceId":"310fa7f4-c63c-46d2-8206-e451a407688f"}'
  recorded_at: Sun, 27 Nov 2022 23:29:40 GMT
recorded_with: VCR 6.1.0
