---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments
    body:
      encoding: UTF-8
      string: '{"merchantOrderReference":"1c5d5ba8-a1b2-4578-a4c5-2f79d946408d","referenceId":"1c5d5ba8-a1b2-4578-a4c5-2f79d946408d","amount":{"value":12.34,"currency":"BRL"},"shopper":{"firstName":"John","lastName":"Doe","document":"12345678810","documentType":"CPF","email":"john.doe@example.com","phone":{"country":"55","number":"21987654321"}},"items":[{"id":"1","value":12.34,"quantity":1,"description":"A
        dozen eggs"}],"callbackUrl":"https://example.com/webhooks","delayToAutoCancel":30,"delayToSettlement":1}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - bee2a232-f40e-4412-8301-661944550c47
      Etag:
      - W/"90-2/Hf5qV2nTIZEB2QykEynaSmOtg"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"WAITING_PAYMENT_METHOD","pspReferenceId":"16ffec42-b6e2-4724-818b-83d58bd73970","referenceId":"1c5d5ba8-a1b2-4578-a4c5-2f79d946408d"}'
  recorded_at: Sun, 27 Nov 2022 23:29:41 GMT
recorded_with: VCR 6.1.0
