---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments
    body:
      encoding: UTF-8
      string: '{"merchantOrderReference":"d5f82139-3fde-406b-9070-a814f9a6c997","referenceId":"d5f82139-3fde-406b-9070-a814f9a6c997","amount":{"value":12.34,"currency":"BRL"},"shopper":{"firstName":"John","lastName":"Doe","document":"12345678810","documentType":"CPF","email":"john.doe@example.com","phone":{"country":"55","number":"21987654321"}},"items":[{"id":"1","value":12.34,"quantity":1,"description":"A
        dozen eggs"}],"callbackUrl":"https://example.com/webhooks","delayToAutoCancel":30,"delayToSettlement":1}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - 775e5d60-340b-42f6-bfa4-4c7fc95f3405
      Etag:
      - W/"90-CcHz7xdLd3/W882cXCpSVfE9Npw"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"WAITING_PAYMENT_METHOD","pspReferenceId":"10eaac4f-5cb2-4552-b84d-a7d47491b9c8","referenceId":"d5f82139-3fde-406b-9070-a814f9a6c997"}'
  recorded_at: Sun, 27 Nov 2022 23:29:39 GMT
recorded_with: VCR 6.1.0
