---
http_interactions:
- request:
    method: get
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payment-methods
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - e70f2a5e-a6a2-4000-bf66-6d3427d9cd9f
      Etag:
      - W/"3dc-aIi1TVJfCZPy22GhR7Kfvqav89Q"
    body:
      encoding: ASCII-8BIT
      string: '{"schemas":{"qrCodeContent":"https://mock-institution.spinpay.com.br/v1/checkouts/qrcode-content","appLink":"https://mock-institution.spinpay.com.br/v1/checkouts/app-link","qrCode":"https://mock-institution.spinpay.com.br/v1/checkouts/qrcode"},"groups":[{"types":["pix"],"name":"Pix"},{"types":["nupay","spintest-link"],"name":"Wallets"}],"paymentMethods":[{"hasFields":false,"hasQRCode":false,"hasAppLink":true,"image":"https://storage.googleapis.com/spn-internal-pub/sandbox/1639698909002-e7d0e798-b9bc-4aa7-b7d9-33f574bffb26","type":"nupay","name":"NuPay"},{"hasFields":false,"hasQRCode":true,"hasAppLink":false,"image":"https://storage.googleapis.com/spn-internal-pub/sandbox/1602889558106-98fd21df-b8af-43d0-9caa-0138f74061b9","type":"pix","name":"Pix"},{"hasFields":false,"hasQRCode":true,"hasAppLink":true,"image":"https://storage.googleapis.com/spn-internal-pub/sandbox/1572461132312-ae28d3ba-5283-4207-b2bf-12dccc9793fa","type":"spintest-link","name":"Spin
        Pay QRCode/AppLink"}]}'
  recorded_at: Sun, 27 Nov 2022 00:01:15 GMT
recorded_with: VCR 6.1.0
