---
http_interactions:
- request:
    method: post
    uri: https://sandbox-api.spinpay.com.br/v1/checkouts/payments/10eaac4f-5cb2-4552-b84d-a7d47491b9c8/refunds
    body:
      encoding: UTF-8
      string: '{"transactionRefundId":"076f0c93-a53b-44f5-b696-5cb7bdd3a1a9","amount":{"value":12.34,"currency":"BRL"},"delayToCompose":7}'
    headers:
      X-Merchant-Key:
      - "<X-Merchant-Key>"
      X-Merchant-Token:
      - "<X-Merchant-Token>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: null
    headers:
      'Http/2 200 ':
      - ''
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Id:
      - a4571d60-87b1-4340-b82b-4dc826bc6349
      Etag:
      - W/"a5-+nPEc8DvS26N1IEmnkAqPQgvb3w"
    body:
      encoding: ASCII-8BIT
      string: '{"status":"REFUNDING","dueDate":"2022-12-06T02:59:59.000Z","pspReferenceId":"10eaac4f-5cb2-4552-b84d-a7d47491b9c8","refundId":"96f920cd-025e-4b54-a8fc-009d6816e1c3"}'
  recorded_at: Sun, 27 Nov 2022 23:45:28 GMT
recorded_with: VCR 6.1.0
